
.square {
  height: 26px;
  width: 26px;
  margin-top: -4px;
  margin-right: -4px;
  text-align: center;
  padding: 24% 0;
  background-color: lightblue;
  box-sizing: border-box;
  border-width: 4px;
}

.game_board {
	display: grid;
  grid-gap: 0px;
  margin-top: 30px;
  outline: none;
}

#select_type_label, 
#select_space_label, 
#create_new_button,
#select_solve_algo_label,
#solve_button,
#cancel_solve_button {
  margin-left: 30px;
}

.solve_div {
  margin-top: 18px;
}

#login_block {
  display: block;
  background-color: #ffffff;
  border-radius: 22px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

#donut_gif {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: contain;
}
